  #base{position: relative; width:495px; height:305px; border:1px solid black; margin: 0 auto;}
    #subject{position: relative; width:410px; height:65px; border:1px dotted black; margin:0 auto; font-size:150%; font-weight:bold; line-height: 75px;}
   
    .movie{position: relative; width:410px; height:35px; border-top:2px dotted silver; margin:0 auto; font-size:150%; font-weight:bold; line-height: 75px; overflow: hidden;}
   
    .imgs{display:none; position:relative; width:65px; height:90px; margin-top:10px; float:left; margin-right:20px;}
    #img1{background-image:url(../images/nm1.png);}
   
    .box{position:relative; width:321px; /*height:113px;*/ border:1ps dashed red; float:left;}
   
    .title{width:321px; height:30px; border:1px dashed blue; font-size:65%; line-height:30px; color:blue; font-weight:bold;}
   
    .text{display:none; width:321px; height:80px; border:1px dashed blue; font-size:45%; line-height:25px; color:black;}
   
    .star{position: absolute; right:0px; top:0px; line-height: 30px; font-size:70%; font-weight:bold; border:1px dotted red;}
   
    .movie:hover{height:113px;}
    .movie:hover .imgs{display:inline-block;}
    .movie:hover .text{display:inline-block;}